streamlit
langchain
langchain-groq
groq
chromadb
pydantic
python-dotenv
faiss-cpu
sentence-transformers

numpy
python-dotenv
tqdm
pandas
langchain_groq


PyPDF2
Pillow
requests
streamlit-mic-recorder



